extends layout

block content

  div(id="wrapper")
    center
      div(class="header")
        div(id="centering")
          input(type = "checkbox" v-model = "seeme.wolfmsg" value = "wolfmsg")
          label Wolves
          input(type = "checkbox" v-model = "seeme.covenmsg" value = "covenmsg")
          label Coven
          input(type = "checkbox" v-model = "seeme.vampmsg" value = "vampmsg")
          label Vamp
          input(type = "checkbox" v-model = "seeme.masonmsg" value = "masonmsg")
          label Mason
          input(type = "checkbox" v-model = "seeme.demonmsg" value = "demonmsg")
          label Demons
          input(type = "checkbox" v-model = "seeme.ghostmsg" value = "ghostmsg")
          label Saltmine
          input(type = "checkbox" v-model = "seeme.villagemsg" value = "villagenmsg")
          label Village
        div(id= "gameselector")
          select(id="getgame" v-model = "game")
            -for(var i = 35;i<160;i++){
              -if(i <100) {
                option(value="ext-0#{i}") EXT-0#{i}
              -}
              -else {
                option(value="ext-#{i}") EXT-#{i}
                -}
              -}
            -for(var i = 3;i<40;i++){
              -if(i <10) {
                option(value="spd-00#{i}") SPD-00#{i}
                -}
              -else {
                option(value="spd-0#{i}") SPD-0#{i}
                -}
              -}
            option(value="vmh-001") VMH-001
            option(value="ahd-001") AHD-001
            option(value="ena-001") ENA-001
            option(value="isa-001") ISA-001
            option(value="kng-001") KNG-001
            option(value="xii-001") XII-001

    loading(v-if="currentView == 'loading'")
    game(v-if="currentView == 'game'", :seeme="seeme")

  script(src="/client.js").
