block content
  table(id="generatedgame")
    input(name="tabbed" id="Day1" type="radio" checked)
    <section>
    h1
        label(for="Day1") Day1
    <div>
    tr(class="modmsg" v-show='seeme.modmsg')
      td(title="Daybreak") Daybreak
        a(name="Day1")
      td Day1
      td #{eventlist[0].time}
    each event, i in eventlist
        if event.origname == "Daybreak"
            </div>
            </section>
            input(name="tabbed" id="#{event.message}" type="radio")
            <section>
            h1
                label(for=event.message) #{event.message}
            <div>
        tr(class=event.format v-show='seeme.'+event.format)
            td(title=event.origname) #{event.charname}
                if event.origname == "Daybreak"
                    a(name="#{event.message}")
            td #{event.message}
            td #{event.time}
    </div>
    </section>
